body {
    background-color: #fff;
}

p {
    /* font-family: Inconsolata */
}

.wrapper {
    height: 100%;
    overflow-x: auto;
    position: relative;
    background-color: #35314e;
    background: linear-gradient(to right, #242136, #35314e);
}

h1:not(.light) {
    font-size: 90px;
    font-weight: bold;
}

.light {
    text-transform: capitalize
}

.side {
    color: #fff;
    height: auto;
    position: relative;
}

.side:not(.center) {
    padding: 100px;
}

.side.left {
    z-index: 2;
    background-color: yellow;
    color: #222;
}

.side.right {
    padding-left: 130px;
    overflow-y: auto;
    height: 100%;
    background-color: #272727;
}

.side.center {
    /* background-color: #36324d; */
    position: absolute;
    left: 0;
    top: 0;
    /* margin-left: -50px; */
    z-index: 5;
    /* height: 100; */
}

.skillset li {
    transition: 200ms ease;
    font-size: 20px;
    opacity: .3;
    position: relative;
}

.skillset li .fas {
    position: absolute;
    padding-top: 6px;
    transition: 200ms ease;
    left: -30;
    opacity: 0;
}

.skillset li:hover {
    padding: 5px 0 5px 0;
    opacity: 1;
    cursor: pointer;
}

.skillset li:hover .fas {
    /* padding-top: 6px !important; */
    left: -15;
    opacity: 1;
}

.skillset li:first-child:gover {
    padding: 0 0 10px 0;
}

.skillset li:last-child:hover {
    padding: 10px 0 0 0;
}

.icons {
    position: fixed;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    max-width: 100px;
    min-width: initial;
    padding-top: 20px;
    font-size: 40px;
    /* box-shadow: 10px 0 20px rgba(0, 0, 0, 0.07); */
}

.icons i {
    padding: 20px 15px;
    /* height: 80px; */
    /* width: 73px; */
    /* margin-right: 20px; */
    opacity: .3;
    transition: 200ms ease;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
}

.icons i:hover {
    opacity: 1;
    /* box-shadow: 0 0 0 10px yellow; */
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.icons i.active {
    color: #272727;
    opacity: 1;
    background-color: yellow;
}

ul li {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 15px;
}

ul img {
    margin-right: 10px;
    width: 40px;
}

hr {
    border-color: rgba(255,255,255,.1);
}

.faded {
    opacity: .7;
}

.tab {
    transition: 400ms ease;
    z-index: 1;
    padding-right: 100px;
}

.hide {
    transform: translateX(-50px);
    opacity: 0;
    visibility: hidden;
}

.tab-content {
    width: 100%;
    height: 100%;
}

.tab-content .tab {
    position: absolute;
}

a.project {
    transition: 200ms ease;
    display: block;
    color: #fff;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

a.project:hover {
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
    border-bottom-color: transparent;
}

@media only screen and (max-width: 768px) {
    .icons {
        text-align: center;
        /* left: 10%; */
        /* padding-left: 60px; */
        justify-content: center;
        min-width: 100%;
        max-width: unset;
        transform: translateY(-30px);
        /* padding-bottom: 50px; */
        /* margin-bottom: 100px; */
    }

    .side:not(.right) {
        padding: 30px !important;
    }

    .side.right {
        padding-left: 30px;
        padding-right: 30px;
    }

    .tab {
        padding-right: 30px;
    }

    .icons i {
        width: 65px;
        height: 65px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 50px 50px;
    }
}